@{
    ViewData["Title"] = "Index";
}

<h2>MySQL</h2>

<a class="navbar-brand" asp-area="" asp-controller="MySQL" asp-action="Create">Create</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<a class="navbar-brand" asp-area="" asp-controller="MySQL" asp-action="Delete">Delete</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
